@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* RESET */
body{
    margin: 0;
    padding: 0;
    background-color: #e9e9e98a;
    font-family: 'Ubuntu', sans-serif;
  }